.sidebar {
  padding: 32px 24px;
  width: 300px;
  background-color: var(--bg-sidebar);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-primary);
}

.logo {
  margin: 0 auto;
  margin-bottom: 32px;
}

.nav {
  flex-grow: 1;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
