.item {
  padding: 15px 10px;
  background-color: var(--nav-link-active);
  border: 1px solid var(--border-primary);
  border-radius: 7px;

  &:hover {
    background-color: var(--nav-link-hover);
  }
}
