.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 10px;

  background-color: var(--nav-link-active);
  border: 1px solid var(--border-primary);
  border-radius: 7px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.deleteBtn {
  width: 30px;
  height: 30px;
  background-color: var(--text-danger);
  border-radius: 7px;
}
