.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 500px;
  padding: 20px;

  background-color: var(--foreground);
  border-radius: 20px;
}

.title {
  margin: 0 auto;
  color: var(--text-primary-invert);
}
