.form {
  width: 500px;
  background-color: var(--foreground);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin: 0 auto;
  color: var(--text-primary-invert);
}
