[data-theme='dark'] {
  --background: #010409;
  --foreground: white;
  --bg-loader: #f6f8fa;
  --bg-sidebar: #0d1117;
  --nav-link-active: #848d9721;
  --nav-link-hover: #848d970f;
  --border-primary: #30363d;
  --text-primary: #e6edf3;
  --text-primary-invert: black;
  --text-secondary: #848d97;
  --text-success: green;
  --text-danger: red;
  --text-warning: orange;
  --btn-bg-primary: #0d1117;
  --btn-bg-primary-hover: #2c333d;
  --btn-bg-primary-disabled: #f4f4f4bd;
}
