[data-theme='light'] {
  --background: #f6f8fa;
  --foreground: black;
  --bg-loader: #010409;
  --bg-sidebar: #fff;
  --nav-link-active: #848d9721;
  --nav-link-hover: #848d970f;
  --border-primary: #d0d7de;
  --text-primary: black;
  --text-primary-invert: #e6edf3;
  --text-secondary: white;
  --text-success: green;
  --text-danger: red;
  --text-warning: orange;
  --btn-bg-primary: #fff;
  --btn-bg-primary-hover: #ffffffbd;
  --btn-bg-primary-disabled: #f4f4f4bd;
}
